<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="husband" class="qh.springframework.bean.Husband">
        <property name="wife" ref="wife"/>
    </bean>

    <bean id="wife" class="qh.springframework.bean.Wife">
        <property name="husband" ref="husband"/>
        <property name="mother" ref="husbandMother"/>
    </bean>

    <bean id="husbandMother" class="qh.springframework.bean.HusbandMother"/>

    <!-- AOP 配置，验证三级缓存 -->
    <bean class="qh.springframework.aop.proxy.realize.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="qh.springframework.bean.SpouseAdvice"/>

    <bean id="methodInterceptor" class="qh.springframework.aop.advice.realize.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="qh.springframework.aop.advice.realize.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* qh.springframework.bean.Wife.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>