<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	         http://www.springframework.org/schema/beans/spring-beans.xsd"
       xmlns:context="http://www.springframework.org/schema/c">

<!--    <bean id="husband" class="qh.springframework.bean.Husband">-->
<!--        <property name="wifiName" value="你猜"/>-->
<!--        <property name="marriageDate" value="2221-08-08"/>-->
<!--        <property name="age" value="22"/>-->
<!--    </bean>-->

    <context:component-scan base-package="qh.springframework.bean"/>

</beans>